*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    background-color: rgb(245, 186, 19);
    color: #fff;
    padding: 20px;
}