*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.heading {
    background-color: rgb(245, 186, 19);
    font-size: 1rem;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.content-container{
    /* border: 2px solid black; */
    background-color: #ccc9c9;
    /* color: #fff; */
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 3px;
}